.containerMobile {
  width: 100%;
}

.container {
  width: 100%;
  position: relative;
}

.searchMobile {
  display: flex;
  align-items: center;
  width: 100%;
}

.search {
  padding: 2px 4px 2px 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.suggestionsMobile {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
}

.suggestionsMobile {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.list {
  padding-top: 0;
}
