.container_mobile {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 0.5rem;
}

.paper_mobile {
  display: flex;
  align-items: center;
  flex: 1;
}

.inputBaseMobile {
  width: 100%;
}

.container {
  width: 100%;
  position: relative;
}

.searchMobile {
  display: flex;
  align-items: center;
  width: 100%;
}

.search {
  padding: 2px 4px 2px 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.suggestionsMobile {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 999;
}

.suggestions {
  overflow: hidden;
  position: absolute;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  z-index: 999;
}

.list {
  padding-top: 0;
}
