.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bree Serif";
}

.control > * {
  margin: 0 0.5em;
}

.control a {
  text-decoration: none;
  color: maroon;
}

.control p {
  font-size: 1.5em;
  margin: 0;
}
