.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container * {
  font-family: "Noto Serif", serif;
}

.form {
  text-align: center;
}

.form > * > * {
  margin: 1rem;
}

.textfield {
  width: 90%;
}

.textfieldInput {
  font-size: 1rem;
  text-align: center;
}

.formData {
  color: #4c4f4d;
  font-style: italic;
  display: flex;
  flex-direction: column;
}

.formData > * {
  margin: 0.5rem;
}

.select li {
  font-family: "Noto Serif", serif;
}

.formData .type {
  align-self: center;
  padding: 0.5rem 1rem;
}

.navigation {
  text-align: center;
  margin-top: 50px;
}
