.visible {
  order: 0;
  visibility: visible;
  opacity: 1;
}

.inVisible {
  order: 100;
  visibility: hidden;
  pointer-events: none;
}

.toolbarWrapper {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em;
  cursor: pointer;
}

.li:hover {
  color: maroon;
}

.overflowStyle {
  order: 99;
  position: sticky;
  right: 0;
  background-color: white;
}
